node_modules
**/node_modules
backend/node_modules
backend/.medusa
frontend/node_modules
frontend/dist
api/node_modules
.git
.github
.env
.env.*
Dockerfile
docker-compose.yml
docker-stack.yml
npm-debug.log
yarn-error.log
coverage
dist
